.nav{
    padding: 5px 25px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.nav .navbar_top{
     display: flex;
     justify-content: space-between !important;
     align-items: center;
}
.nav .form{
    display: flex;
    align-items: center;
}
.nav .search{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #E2E8F0;
}
.nav input{
    border: none;
    outline: none;
    margin-left: 4px;
}
.nav .ant-dropdown-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #000000;
margin-left: 40px;
}
.menu_item{
    text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  width: 50%;
  margin: auto;
}
.nav .fa{
    background-color: white;
    margin-right: 15px;
    color: #4FD1C5;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
}
.nav h3{
    font-style: normal;
font-weight: normal;
font-size: 20px;
color: #A0AEC0;

}
.nav h3 span{
    color: #2D3748;
}